.page {
  background-image: url("images/gameroom.jpg")
}

.board {
  border: 5px solid rgb(33, 34, 70);
  height: 500px;
  width: 500px;
  background-color: lavender;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

#gameTitle {
  font-size:45px;
  font-style: italic;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.gameMessage {
  font-size: 45px;
  font-style: italic;
  font-family: 'Amatic SC', cursive;
  font-style: bold;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  background-color: lavender;
  margin-left: 700px;
  margin-right: 700px;
}

.boardwidth {
  width: 100%
}

td {
  width: 33.3%;
}

.sections:hover {
  background-color: white;
}

.sections {
  border-style: inset;
}

.playerButtons {
  font-size: 50px;
  margin-top: 15px;
  margin: center;
  text-align: center;
}

.playerButtonsInline {
  margin-left: 700px;
}

.heading {
  text-align: center;
  border-style: solid;
  background-color: lavender;
  border-color: black;
}

.centerTable{
  width: 100%;

}

.resetDiv {
  text-align: center;
}

.resetButton {
  margin-top: 27px;
  display: inline-block;
  width: 200px;
  height: 100px;
  color: rgb(9, 9, 105);
  background-color: lavender;
  font-size: 30px;
}

